<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="URL" value="quclickacademy.com"/>
    <test verbose="6" preserve-order="true"
          name="/Users/lauris/Documents/Java Course/Portfolio/src/test/java/TestNG/DemoClass_1.java">
        <classes>
            <class name="TestNG.DemoClass_1">
                <methods>
                    <include name="secondTest"/>
                </methods>
            </class>
            <class name="TestNG.DemoClass_2"/>
            <class name="TestNG.DemoClass_4"/>
        </classes>
    </test>
    <test name="Car Loan">
        <classes>
            <class name="TestNG.DemoClass_3">
               <methods>
                   <!--<exclude name="mobile.*"/>--> <!--Excluye cualquier método con mobile-->
               </methods>
            </class>
        </classes>
    </test>
</suite>